*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
	// font-family: 'Roboto', sans-serif;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
	background-color: $background-color;
	color: set-text-color($background-color);
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;

	font-size: 1rem;
	font-weight: 400;
    line-height: 1.5;
}