@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

.pagehero {
    background: linear-gradient(to bottom, $secondary-color, $secondary-color-hover);
    padding: 1rem 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__text {
        font-family: 'Exo', sans-serif;
        font-size: 1.6em;
        font-weight: 600;
        text-align: center;
    }
}