$background-color: #eee;

$primary-color: #15426C;
$primary-color-hover: darken($primary-color, 10%);
$secondary-color: darken(#fff, 2%);
$secondary-color-hover: darken($secondary-color, 10%);

$grey-color: #ccc;
$dark-color: #333;
$light-color: #fff;