@import './abstract/variables';
@import './abstract//config';

@import './base/utilities';
@import './base/base';

@import './layout/navbar/mobile';
@import './layout/pagehero/mobile';
@import './layout/slider/mobile';
@import './layout/card/mobile';
@import './layout/list/mobile';
@import './layout/footer/mobile';
@import './layout/btn';

.tablet {
    display: none;
}

@include media-tablet {
    @import './layout/navbar/tablet';
    @import './layout/pagehero/tablet';
    @import './layout/slider/tablet';
    @import './layout/footer/tablet';

    .mobile {
        display: none;
    }
    .tablet {
        display: initial;
    }

    .inline {
        flex-direction: row;
    }
}

@include media-laptop {
    @import './layout/navbar/laptop';
    @import './layout/pagehero/laptop';
    @import './layout/slider/laptop';
    @import './layout/card/laptop';
    @import './layout/list/laptop';


    .quote {
        font-size: 1em;
    }
}

@include media-laptop-lg {
    @import './layout/navbar/laptop-lg';
    @import './layout/pagehero/laptop-lg';

    .quote {
        font-size: 1.2em;
    }
}